[user]
	name = Jyotirmoy Bandyopadhyaya [Bravo68]
	email = jbandyopadhayaya@gmail.com
	signingkey = 1362E76AACB9E70C
[gpg]
	program = /usr/bin/gpg
[init]
	defaultBranch = main
[alias]
    s = status
    co = checkout
    ac = !git add -A && git commit -m
    ao = remote add origin
    undo = reset HEAD~1 --mixed
    res = !git reset --hard
    done = !git push origin HEAD
    lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30A
    del = branch -D
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
