[user]
	name = Jyotirmoy Bandyopadhyaya [Bravo68]
	email = jbandyopadhayaya@gmail.com
	signingkey = D003E1D00F8A594589A7A674F5671FD7BCB9917A
[gpg]
	program = gpg2
[init]
	defaultBranch = main
[alias]
    s = status
    co = checkout
    c = commit -m
    ac = !git add -A && git commit -m
    ao = remote add origin
    undo = reset HEAD~1 --mixed
    res = !git reset --hard
    done = !git push origin HEAD
    lg = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30A
    del = branch -D
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[safe]
	directory = /opt/flutter
[http]
	cookiefile = /home/bravo68web/.gitcookies

[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
